body{
    margin: 0;
    background-image: linear-gradient(to top, rgb(24, 23, 24), rgb(32, 30, 39)) ;
    color: rgb(108, 136, 163);
}
hr{
    margin: 0;
}
h1{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}
button{
    white-space: nowrap;
    cursor: grab;
    font-size: larger;
    border: none;
    color: rgb(175, 175, 175);
    background: linear-gradient(rgba(63, 63, 63, 0.521), rgba(71, 66, 66, 0.582)) padding-box, linear-gradient(to right, #272020d5, #0b0c0cc7, #4d4444af) border-box;
    border-radius: 8px;
    size: 10%;
}
.login{
    margin-right: 1vw;
    width: 15vw;
    height: 5vh;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#img1{
    max-width: 20vw;
    max-height: 20vh;
}
#img2{
    max-width: 4vw;
    max-height: 4vh;
}
ul{
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    background-image: linear-gradient( to left, rgb(8, 2, 2), rgb(12, 3, 3));
    justify-content: space-between;
}
li{
    list-style: none;
    flex-grow: 1;
}
a{
    color: black;
    text-decoration: none;
    text-align: center;
}
#a{
    order: 2;
}
#b{
    order: 1;
   text-align: center;
   vertical-align: middle;
}
footer{
    margin-top: 100vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-image: linear-gradient( to top, rgb(5, 5, 5),  rgb(58, 55, 55));
}
#C{
    margin: 0;
    border:rgba(255, 255, 255, 0) solid;
}
h2{
    margin: 0;
    margin-bottom: 20vh;
    font-size: medium;
    color: rgb(15, 12, 12);
}
h4{
    margin: 0;
    margin-bottom: 20vh;
}
h6{
    margin: 0;
    color: rgb(122, 122, 122);
}
input{
    border-radius: 9px;
}
::placeholder{
    color: rgb(0, 0, 0);
}
.tela_login{
    margin: 10vw 70vh;
}