body{
    margin: auto;
}

header{
    margin-top: -2%;
    background-color: rgb(192, 192, 192);
    color: rgb(0, 0, 0);
}
hr{
    border: ;
}
li{
    display: inline;
    
}
.pagina{
    font-family:'Times New Roman', Times, serif;
}
#a{
    text-decoration: none;
    color: black;
}
.imglogo{
    position: relative;
    margin-top: -8%;
    margin-left: -2.5%;
}
.login{
    position: relative;
    margin-top: -5%;
    margin-right: 1%;
}
#hiperlink{
    border: 1px rgb(192, 192, 192);
    margin-top: -3.2%;
    margin-left: 89%;
    margin-right: 10%;
    padding-right: 1%;
    position: relative;
}
#criar{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 999px;
    margin-left: 93%;
    margin-right: -1%;
    margin-top: 4%;
    padding-right: 1%;
    position: relative;
}